#dialog {
    display: none;
    width: 100%;
    height: 100%;
    position: fixed;
    bottom: 0;
    z-index: 50;
    transition: .3s;
}

#dialog.active {
    display: flex;
}

#dialog .overlay {
    opacity: 0;
    width: 100%;
    height: 100%;
    position: relative;
    background-color: rgba(0, 0, 0, 0.5);
    cursor: pointer;
    transition: .2s;
}

#dialog .overlay.active {
    opacity: 1;
}

#dialog .content {
    opacity: 0;
    width: 100%;
    height: fit-content;
    position: absolute;
    bottom: 0;
    padding: 1.25rem;
    visibility: hidden;
    /* background-color: rgb(40, 40, 40); */
    background-color: #fff;
    border: 1px solid var(--glasmorphism-border-color);
    border-top-left-radius: var(--roundness);
    border-top-right-radius: var(--roundness);
    flex-direction: column;
    z-index: 51;
    transition: .2s;
}

#dialog .content.active {
    visibility: visible;
    opacity: 1;
}